ul {
  padding: 0;
  margin: 0;
}

li  {
  list-style-type: none;
  padding: 6px 0 6px 0;
  margin: .25em 0;
  background-color: #efefef;
  border-radius: 4px;
  max-width: 10em;
}

li a {
  text-decoration: none;
}

.badge {
  background-color: #333333;
  border-radius: 4px;
  color: white;
  padding: 6px;
  margin-right: 1em;
}
